.blog-footer{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.footer-content{
    color: #444343;
    padding-top: 20px;
}