.blog-footer{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #f0f0f0;
}

.footer-content{
    padding-top: 20px;
}